{
  "useTabs": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 4,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "arrowParens": "always"
}
